@font-face {
	font-family: "KFGQPC";
	src: url("KFGQPCUthmanicScriptHAFS.woff2") format("woff2"),
		url("KFGQPCUthmanicScriptHAFS.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
