// @import "reset.scss";

html,
body {
	padding: 0;
	margin: 0;
	background: #fffaf0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
}

@for $i from 1 through 604 {
	@font-face {
		font-family: "page#{$i}";
		src: url("../assets/v2/ttf/p#{$i}.ttf") format("truetype");
		// src: url("../assets/ttf/p#{$i}.ttf") format("truetype");
	}
}

@font-face {
	font-family: "surah-title";
	src: url("../assets/surah_names/QuranTitles.ttf") format("truetype");
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.surah-title {
	font-family: surah-title;
	font-size: 30px;
	direction: rtl;
	text-align: center;
	border: 1.7px solid #005331;
	color: #9e740a;
}

.page-contain {
	width: 514px;
}

nav {
	position: fixed;
	z-index: 10;
	top: 0;
	background-color: #e7e7e5;
	border-bottom: 1px solid #bfc0c0;
	width: 100%;
	display: flex;
	justify-content: center;
	.page-contain {
		display: flex;
		justify-content: space-between;
	}
	line-height: 42px;
	.page {
		color: #af8a21;
		font-weight: bold;
		font-size: 20px;
		width: 60px;
		text-align: center;
		cursor: pointer;
	}
	.caption {
		color: #005735;
		font-size: 18px;
		cursor: pointer;
	}
}
.page-nav {
	display: flex;
	justify-content: space-around;
	input {
		width: 50px;
		line-height: 36px;
		height: 36px;
		text-align: center;
		margin: 0 5px;
		margin-bottom: 5px;
	}
}
.page {
	font-family: page2;
	color: #000;
	direction: rtl;
	display: flex;
	justify-content: center;
	font-size: 15px;

	.content {
		padding: 15px 15px;
		width: 542px; // 517px - only for chrome ?!
		text-align: center;
		min-height: 720px;
		font-size: 2em;
		height: 810px;
		line-height: 3.6rem;
		box-sizing: content-box;
		margin-bottom: 20px;
		letter-spacing: -2px;
		word-spacing: 0px;
		word-wrap: break-word;
		position: relative;
		.inner {
			position: relative;
			z-index: 2;
		}
		&:before {
			content: " ";
			position: absolute;
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			left: -5.6px;
			top: -5.6px;
			border: 1.7px solid #005331;
		}
		&:after {
			content: " ";
			position: absolute;
			width: calc(100%);
			height: calc(100%);
			left: -2.3px;
			top: -2.3px;
			border: 2.7px solid #005331;
		}
	}
	.aya {
		.kalima {
			background: transparent;
			cursor: pointer;
			position: relative;
			&:hover {
				border-radius: 3px;
				background-color: rgba(0, 0, 0, 0.05);
			}
			&:last-child {
				color: #005635;
				-webkit-text-stroke-width: 0.3px;
				-webkit-text-stroke-color: #005635;
			}
		}
	}
	&.page1,
	&.page2 {
		.content {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&.page1 {
		.content {
			text-align: center;
		}
		.aya:nth-child(1) {
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(2) {
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(4) {
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(6) {
			.kalima:nth-child(1) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(7) {
			.kalima:nth-child(3) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
			.kalima:nth-child(8) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
	}
	&.page2 {
		.content {
			text-align: center;
		}
		.bismillah {
			font-family: page1;
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(3) {
			.kalima:nth-child(5) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(4) {
			.kalima:nth-child(4) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(5) {
			.kalima:nth-child(3) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(5) {
			.kalima:nth-child(12) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(6) {
			.kalima:nth-child(7) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
	}
	&:not(.page2) {
		.bismillah {
			font-family: surah-title;
			font-size: 36px;
			span:last-child {
				letter-spacing: 66px;
			}
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
	}
}
html {
	@media screen and (max-width: 1024px) {
		.page1 {
			margin-top: 60px;
		}
		.page {
			.content {
				width: auto;
				height: auto;
				min-height: 650px;
				.inner {
					width: calc(100vw - 40px);
				}
			}
			font-size: 10.7px;
		}
		font-size: 12.7px;
	}
}
.page:not(.page1):not(.page2) {
	@for $i from 1 through 14 {
		.l-#{$i} + .l-#{$i + 1} {
			&::before {
				content: "\a ";
				white-space: pre;
			}
		}
	}
}
.popup-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	.transliteration {
		opacity: 0.5;
	}
}
.sura-modal {
	.ant-modal-content {
		padding: 0;
		padding-bottom: 10px;
	}
	.ant-modal-header {
		padding: 15px 15px 0;
	}
	.src {
		padding: 5px 10px;
		input {
			background-color: #f4f4f4;
			border: none;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			// flex-direction: row;
			// width: 100%;
			h3 {
				margin: 0;
				font-weight: 500;
				font-size: 17px;
			}
			.ar {
				margin-left: auto;
				margin: 0;
				direction: rtl;
				font-size: 19px;
				font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
					Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
			}
			line-height: 37px;
			padding-left: 15px;
			padding-right: 15px;
			&:nth-child(2n) {
				background-color: rgb(244, 244, 244);
			}
		}
	}
}

// @media (prefers-color-scheme: dark) {
// 	html {
// 		color-scheme: dark;
// 	}
// 	body {
// 		color: white;
// 		background: #12261d;
// 		.page {
// 			color: rgba(255, 255, 255, 0.77);
// 		}
// 	}
// }
