html,
body {
	padding: 0;
	margin: 0;
	background: #fffaf0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@for $i from 1 through 604 {
	@font-face {
		font-family: "page#{$i}";
		src: url("../assets/v2/woff2/p#{$i}.woff2") format("woff2");
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.page-nav {
	display: flex;
	justify-content: space-around;
	input {
		width: 50px;
		line-height: 36px;
		height: 36px;
		text-align: center;
		margin: 0 5px;
		margin-bottom: 5px;
	}
}
.page {
	font-family: page2;
	color: #000;
	font-size: 30px;
	direction: rtl;
	display: flex;
	justify-content: center;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	.content {
		border: 1px solid #235638;
		padding: 15px;
		width: 516px;
		text-align: center;
		min-height: 720px;
		box-sizing: content-box;
		margin-bottom: 20px;
		letter-spacing: -2px;
		word-wrap: break-word;
	}
	.aya {
		.kalima {
			background: transparent;
			cursor: pointer;
			position: relative;
			&:hover {
				border-radius: 3px;
				background-color: rgba(0, 0, 0, 0.05);
			}
		}
		.kalima:not(:last-child) {
			// color: #d7da16;
			// -webkit-text-stroke-width: 1px;
			// -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
		}
		.kalima:last-child {
			// -webkit-text-stroke-width: 4px;
			// -webkit-text-stroke-color: #0000001a;
		}
	}
	&.page1,
	&.page2 {
		.content {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&.page1 {
		.content {
			text-align: center;
		}
		.aya:nth-child(1) {
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(2) {
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(4) {
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(6) {
			.kalima:nth-child(1) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(7) {
			.kalima:nth-child(3) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
			.kalima:nth-child(8) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
	}
	&.page2 {
		.content {
			text-align: center;
		}
		.bismillah {
			font-family: page1;
			&::after {
				content: "\a";
				white-space: pre;
			}
		}
		.aya:nth-child(3) {
			.kalima:nth-child(5) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(4) {
			.kalima:nth-child(4) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(5) {
			.kalima:nth-child(3) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(5) {
			.kalima:nth-child(12) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
		.aya:nth-child(6) {
			.kalima:nth-child(7) {
				&::after {
					content: "\a";
					white-space: pre;
				}
			}
		}
	}
}
.popup-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	.transliteration {
		opacity: 0.5;
	}
}

// @media (prefers-color-scheme: dark) {
// 	html {
// 		color-scheme: dark;
// 	}
// 	body {
// 		color: white;
// 		background: #12261d;
// 		.page {
// 			color: rgba(255, 255, 255, 0.77);
// 		}
// 	}
// }
